:root {
    --cor-branco: #ffffff; 
    --cor-preto: #000000; 
    --cor-clara: #FFFBDF;
    --cor-verde: #C6FFC1;
    --cor-azul: #34656D;
    --cor-azul-escuro: #334443; 
    --cor-branco: #ffffff; 
}

@font-face {
    font-family: 'Chloe';
    src: url('../fonts/chloe font v1.ttf') format('truetype');
}

@font-face {
    font-family: 'Wondercity';
    src: url('../fonts/Wondercity.otf') format('truetype');
}

/* Barra de navegação personalizada */
.navbar-custom {
    background-color: var(--cor-azul-escuro);
    font-size: 1.5rem;
    width: 100%;         /* A barra ocupa 100% da largura da tela */
    height: 8%;          /* A altura da barra de navegação */
    display: flex;       /* Usamos flexbox para organizar o conteúdo da barra */
    align-items: center; /* Centraliza os itens dentro da barra (logo e botões) verticalmente */
    padding: 0 10px;     /* Um pequeno padding para não grudar as bordas */
    position: fixed;     /* Barra de navegação fixa no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;        /* Garante que a barra de navegação fique acima de outros elementos */
}

/* Ícone dentro da barra de navegação */
.navbar-custom .navbar-brand {
    display: flex;
    justify-content: center;  /* Centraliza a imagem horizontalmente */
    align-items: center;      /* Centraliza a imagem verticalmente */
    height: 100%;             /* A altura da área onde a imagem será inserida */
}

/* Ajustes para a imagem */
.img-logo {
    height: 100%;       /* A imagem ocupará 100% da altura da barra */
    width: auto;        /* A largura da imagem será ajustada proporcionalmente */
    object-fit: contain; /* A imagem se ajusta proporcionalmente sem distorcer */  
}

/* Estilos para os links de navegação */
.nav-item.inactive .nav-link {
    color: #b0b0b0 !important;
    pointer-events: none;
}

/* Outros estilos de botão e container */
.center-button {
    font-size: 1.8rem;
    padding: 15px 30px;
    background-color: var(--cor-azul-escuro);
    color: white;
    border: none;
    border-radius: 5px;
}

.center-button:hover {
    background-color: var(--cor-verde);
    color: var(--cor-azul-escuro);
}

.second-button {
    font-size: 1.8rem;
    padding: 13px 28px;
    background-color: var(--cor-branco);
    color: var(--cor-azul-escuro);
    border: 2px solid var(--cor-azul-escuro);
    border-radius: 5px;
}

/* Ajuste do corpo da página */
body {
    font-family: 'Wondercity', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: flex;            /* Usamos flexbox no body */
    flex-direction: column;   /* Os itens vão ser organizados verticalmente */
    color:var(--cor-azul);
    background-color:var(--cor-clara);
    height: 100vh;
    width: auto;
}

/* Container para o conteúdo da página */
.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;             /* Faz com que o container ocupe o restante do espaço disponível */
    overflow-y: auto;         /* Permite rolagem vertical se necessário */
    margin-top: 6%;           /* Adiciona espaço para a barra de navegação fixa */
}

/* Container para o conteúdo da página */
.content-container {
    display: flex;
    flex: 1;                /* Faz o container ocupar o restante do espaço */
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container {
        max-width: none;  /* Remover a limitação de largura para a container */
    }
}

a:hover {
    text-decoration: none;
}

