/* Ajuste do corpo da página */
body {       
    font-size: 2rem;  /* Define o tamanho da fonte do corpo da página para 2rem (maior que o padrão) */
}

/* Seção do texto */
.left-section {
    flex: 1;                /* A seção de texto ocupa metade do espaço disponível no container */
    padding: 15px;          /* Adiciona um espaçamento de 15px em torno do conteúdo da seção */
    padding-right: 0;       /* Remove o padding à direita da seção de texto */
    display: flex;          /* Define a seção como um container flexível */
    flex-direction: column; /* Organiza os elementos da seção em coluna (verticalmente) */
    justify-content: center;/* Centraliza o conteúdo verticalmente dentro da seção */
}

/* Seção da imagem */
.right-section {
    flex: 1;                /* A seção de imagem ocupa metade do espaço disponível no container */
    display: flex;          /* Define a seção como um container flexível */
    justify-content: flex-end; /* Alinha o conteúdo da seção à direita */
    align-items: center;    /* Alinha os itens no centro verticalmente */
    padding-left: 20px;     /* Adiciona 20px de espaçamento à esquerda da seção de imagem */
    padding-right: 10px;    /* Adiciona 10px de espaçamento à direita da seção de imagem */
}

/* Ajustes na imagem */
.right-section img {
    width: 85%;             /* Define a largura da imagem como 85% da largura da seção */
    height: auto;           /* Define a altura da imagem para ser automática, mantendo a proporção */
    object-fit: cover;      /* Faz com que a imagem cubra a área disponível, mantendo a proporção sem distorção */
}