/* Ajuste do corpo da página */
body {    
    height: 100vh;
    width: auto;
    font-size: 2rem;
}

/* Container para o conteúdo da página */
.content-container {
    display: flex;
    flex: 1;                /* Faz o container ocupar o restante do espaço */
    padding: 0;
    box-sizing: border-box;
}

/* Seção do texto */
.left-section {
    flex: 1;                /* A seção de texto ocupa metade do espaço */
    padding: 15px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Seção da imagem */
.right-section {
    flex: 1;                /* A seção de imagem ocupa metade do espaço */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}

/* Ajustes na imagem */
.right-section img {
    width: 85%;             /* A imagem ocupa 100% da largura da seção */
    height: auto;            /* Mantém a proporção da altura */
    object-fit: cover;       /* Garante que a imagem cubra a área sem distorção */
}

@media (min-width: 1200px) {
    .container {
        max-width: none;  /* Remover a limitação de largura para a container */
    }
}