.navbar-custom {
    background-color: #000000;
}
.navbar-custom .navbar-brand {
    color: white !important;
}
.nav-item.inactive .nav-link {
    color: #b0b0b0 !important;
    pointer-events: none; 
}
.nav-item.inactive .nav-link:hover {
    color: #b0b0b0 !important;
    background-color: #3e8e41;
}
.center-button {
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
}
.center-button:hover {
    background-color: #45a049;
}
