/* Barra de progresso */
.progress-text {
    font-size: 1.5rem !important;
}

/* Barra de progresso */
.progress-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 15px;
    flex-direction: row;
    background-color: #ccc;
    margin-top: 2%;  
    border-radius: 15px;
}

.progress-step {
    width: 15px; /* Maior tamanho para facilitar a interação */
    height: 15px;
    border-radius: 50%;
    background-color: rgb(161, 158, 158);
    transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
    cursor: pointer; /* Deixa a bolinha interativa */
}

.progress-step.active {
    background-color: #4caf50;
    transform: scale(1.5);
}

.progress-step.completed {
    background-color: #2196f3;
}

.progress-step + .progress-step {
    margin-left: 10px;
}

.progress-step:first-child {
    margin-left: 0;
}

/* Container de conteúdo */
.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Largura fixa de 80% do contêiner pai */
    height: 80vh; /* Altura fixa de 80% da altura da tela (viewport) */
    margin: 0 auto; /* Centraliza a .step-container */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites da .step-container */
}

.content-container {
    display: flex;
    width: 90%; /* Preenche toda a largura da .step-container */
    height: 100%; /* Preenche toda a altura da .step-container */
    justify-content: space-between;
    background-color: var(--cor-branco);
}

.left-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Caso o conteúdo dentro da left-section seja muito grande */
}

.right-section {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Caso o conteúdo dentro da right-section seja muito grande */
}

.step-content {
    text-align: center;
    flex: 1;
}

/* Botões */
button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

/* Tela responsiva */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        flex: none;
        width: 100%;
    }
}

/* Estilo para as bolinhas coloridas */
.color-picker {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-circle {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.color-circle input {
    position: absolute;
    opacity: 0; /* Oculta o checkbox */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.color-circle .color {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

/* Efeito quando o checkbox é selecionado */
.color-circle input:checked + .color {
    transform: scale(1.1); /* Aumenta a bolinha ao selecionar */
    border: 2px solid #333; /* Adiciona uma borda quando selecionada */
}
