{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Onde salvei? {% endblock %}
    </title>
    <link rel="icon" href="{% static 'images/Onde salvei - lemure preto.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>  
    
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/Onde salvei - logo branca.png' %}" alt="Onde salvei?" class="img-logo"/>
      </a>    
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>