{% extends "base.html" %} 
{% block title %} Onde Salvei? {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>

<!-- Seção principal (já considerando o layout flex do base.html) -->
<div class="content-container">
    <!-- Seção do Texto -->
    <div class="left-section">
        <p>Encontre exatamente a foto que você está procurando sem precisar baixar ou clicar de pasta em pasta.</p>
        <div>
            <a href="{% url 'steps' %}">
                <button class="center-button">Experimente!</button>
            </a>
            <a href="{% url 'introduction' %}">
                <button class="second-button">Como funciona?</button>
            </a>
        </div>
    </div>

    <!-- Seção da Imagem -->
    <div class="right-section">
        <img src="{% static 'images/home_image.png' %}" alt="Imagem descritiva">
    </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
