{% extends "base.html" %}
{% load static %}
{% block title %}Onde Salvei?{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/introduction.css' %}"/>

<div class="center-section">
    <div>
        <h1>Como funciona?</h1>
        <p>O Onde Salvei? é uma solução integrada projetada para localizar imagens no dispositivo do usuário e reconhecer suas cores, permitindo que o usuário saiba onde essas imagens estão armazenadas. Não é necessário instalar aplicativos adicionais ou enviar imagens para a nuvem. O serviço, chamado Agente – Onde Salvei, realiza toda a busca diretamente no computador do usuário. Para pesquisar imagens por cor, basta executar o Agente, que identificará as imagens correspondentes de forma eficiente.</p>
        <div class="center-section">
            <img src="{% static 'images/esquema_fluxo_sistema.png' %}" alt="Imagem descritiva">
        </div>
        <p>O Onde Salvei? é parte do projeto de conclusão de curso em Ciência da Computação na Universidade Ulbra. Por ser um projeto acadêmico, seu código é aberto, disponível no GitHub, e pode ser utilizado livremente sob a licença MIT.</p>
    </div>
    <!-- Container dos botões -->
    <div class="buttons-container">
        <!-- Botão na esquerda -->
        <div class="left-buttons">
            <a href="{% url 'steps' %}">
                <button class="center-button">Experimente!</button>
            </a>
        </div>
        <!-- Botões na direita -->
        <div class="right-buttons">
            <a href="https://github.com/dev-nataliasilva/projeto_final_front" target="_blank">
                <button class="right-button">
                    <img src="{% static 'images/github.png' %}" alt="Ícone modelo" class="github-icon">
                    Aplicação Web (front-end)
                </button>
            </a>
            <a href="https://github.com/dev-nataliasilva/projeto_final_api" target="_blank">
                <button class="right-button">
                    <img src="{% static 'images/github.png' %}" alt="Ícone modelo" class="github-icon">
                    API (back-end)
                </button>
            </a>
            <a href="https://github.com/dev-nataliasilva/projeto_final_agent" target="_blank">
                <button class="right-button">
                    <img src="{% static 'images/github.png' %}" alt="Ícone modelo" class="github-icon">
                    Desktop Agent (desktop agent)
                </button>
            </a>
            <a href="https://github.com/dev-nataliasilva/projeto_final_ia" target="_blank">
                <button class="right-button">
                    <img src="{% static 'images/github.png' %}" alt="Ícone modelo" class="github-icon">
                    Modelo Treinado (rede neural artificial)
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}