{% extends "base.html" %}
{% load static %}
{% block title %}Onde Salvei?{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/steps.css' %}"/>

<div class="step-container">
    <!-- Barra de Progresso -->
    <div class="progress-bar">
        <div class="progress-step step-1 active"></div>
        <div class="progress-step step-2"></div>
        <div class="progress-step step-3"></div>
    </div>

    <!-- Conteúdo das Etapas -->
    <div class="content-container">
        <div class="left-section">
            <div id="step-1" class="step-content">
                <h1>Escolher cores</h1>
                <p class="progress-text">As imagens serão procuradas de acordo com a paleta de cores selecionada</p>

                <!-- Bolinhas de cores do arco-íris (checkboxes) -->
                <div class="color-picker">
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Branco" />
                        <span class="color" style="background-color: rgb(255, 255, 255);"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Preto" />
                        <span class="color" style="background-color: black ;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Azul" />
                        <span class="color" style="background-color: blue"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Vermelho" />
                        <span class="color" style="background-color: red;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Verde" />
                        <span class="color" style="background-color: blue;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Laranja" />
                        <span class="color" style="background-color: orange;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Amarelo" />
                        <span class="color" style="background-color: yellow;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Roxo" />
                        <span class="color" style="background-color: purple;"></span>
                    </label>
                    <label class="color-circle">
                        <input type="checkbox" name="color" value="Marrom" />
                        <span class="color" style="background-color: brown;"></span>
                    </label>
                </div>

                <button class="next-step" data-step="1">Próximo</button>
            </div>

            <div id="step-2" class="step-content" style="display:none;">
                <h1>Baixar agente</h1>
                <p class="progress-text">Baixe o agente que irá procurar as imagens. Não se preocupe, não é necessário interagir com ele. Basta instalar e o resto é por aqui mesmo!</p>
                <button class="next-step" data-step="2">Próximo</button>
            </div>

            <div id="step-3" class="step-content" style="display:none;">
                <h1>Selecionar pasta</h1>
                <p class="progress-text">Selecione os diretórios (pastas) onde deseja procurar as imagens. Pode ser apenas as pastas principais, já que o agente procura também nas pastas que existem dentro das pastas. Assim você não precisa ficar procurando</p>
                <button class="next-step" data-step="3" data-url="{% url 'result_search' %}">Próximo</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/steps.js' %}"></script>
{% endblock %}
