{% extends "base.html" %}
{% load static %}
{% block title %}Onde Salvei?{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/steps.css' %}"/>

<div class="step-container">
    <!-- Barra de Progresso -->
    <div class="progress-bar">
        <div class="progress-step step-1 active"></div>
        <div class="progress-step step-2"></div>
        <div class="progress-step step-3"></div>
    </div>

    <!-- Conteúdo das Etapas -->
    <div class="content-container">
        <div class="left-section">
            <div id="step-1" class="step-content">
                <h1>Escolher cor</h1>
                <p>Selecione a cor desejada.</p>
                <button class="next-step" data-step="1">Próximo</button>
            </div>

            <div id="step-2" class="step-content" style="display:none;">
                <h1>Baixar agente</h1>
                <p>Baixe o agente de processamento.</p>
                <button class="next-step" data-step="2">Próximo</button>
            </div>

            <div id="step-3" class="step-content" style="display:none;">
                <h1>Selecionar pasta</h1>
                <p>Escolha a pasta onde os arquivos serão salvos.</p>
                <button class="next-step" data-step="3" data-url="{% url 'result_search' %}">Próximo</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/steps.js' %}"></script>
{% endblock %}
